In [1]:
import pandas as pd
import numpy as np
import datetime

import matplotlib.pyplot as plt
import sklearn


# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

import tensorflow as tf

# Keras specific
import keras
from keras.models import Sequential
from keras.layers import Dense

In [6]:
#!pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.8.0-cp39-cp39-win_amd64.whl (438.0 MB)
Collecting grpcio<2.0,>=1.24.3
  Downloading grpcio-1.44.0-cp39-cp39-win_amd64.whl (3.4 MB)
Collecting gast>=0.2.1
  Downloading gast-0.5.3-py3-none-any.whl (19 kB)
Collecting tensorboard<2.9,>=2.8
  Downloading tensorboard-2.8.0-py3-none-any.whl (5.8 MB)
Collecting tf-estimator-nightly==2.8.0.dev2021122109
  Downloading tf_estimator_nightly-2.8.0.dev2021122109-py2.py3-none-any.whl (462 kB)
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Requirement already satisfied: h5py>=2.9.0 in c:\users\rsaku\anaconda3\lib\site-packages (from tensorflow) (3.2.1)
Requirement already satisfied: setuptools in c:\users\rsaku\anaconda3\lib\site-packages (from tensorflow) (58.0.4)
Collecting libclang>=9.0.1
  Downloading libclang-13.0.0-py2.py3-none-win_amd64.whl (13.9 MB)
Collecting protobuf>=3.9.2
  Downloading protobuf-3.20.0-cp39-cp39-win_amd64.whl (904 kB)
Collecting tensorflow-io-gcs-filesystem>=0.23.1
  Downloading tensorflow_io_gcs_filesystem-0.24.0-cp39-cp39-win_amd64.whl (1.5 MB)
Collecting absl-py>=0.4.0
  Downloading absl_py-1.0.0-py3-none-any.whl (126 kB)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\rsaku\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\rsaku\anaconda3\lib\site-packages (from tensorflow) (3.10.0.2)
Collecting google-pasta>=0.1.1
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
Collecting keras-preprocessing>=1.1.1
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
Collecting flatbuffers>=1.12
  Downloading flatbuffers-2.0-py2.py3-none-any.whl (26 kB)
Collecting termcolor>=1.1.0
  Downloading termcolor-1.1.0.tar.gz (3.9 kB)
Requirement already satisfied: six>=1.12.0 in c:\users\rsaku\anaconda3\lib\site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in c:\users\rsaku\anaconda3\lib\site-packages (from tensorflow) (2.8.0)
Collecting astunparse>=1.6.0
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: numpy>=1.20 in c:\users\rsaku\anaconda3\lib\site-packages (from tensorflow) (1.20.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\rsaku\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.37.0)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Downloading tensorboard_data_server-0.6.1-py3-none-any.whl (2.4 kB)
Collecting markdown>=2.6.8
  Downloading Markdown-3.3.6-py3-none-any.whl (97 kB)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\rsaku\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.0.2)
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
Collecting google-auth<3,>=1.6.3
  Downloading google_auth-2.6.5-py2.py3-none-any.whl (156 kB)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\rsaku\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.26.0)
Collecting rsa<5,>=3.1.4
  Downloading rsa-4.8-py3-none-any.whl (39 kB)
Collecting cachetools<6.0,>=2.0.0
  Downloading cachetools-5.0.0-py3-none-any.whl (9.1 kB)
Collecting pyasn1-modules>=0.2.1
  Using cached pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\rsaku\anaconda3\lib\site-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.8.1)
Requirement already satisfied: zipp>=0.5 in c:\users\rsaku\anaconda3\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.6.0)
Collecting pyasn1<0.5.0,>=0.4.6
  Using cached pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rsaku\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rsaku\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rsaku\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\rsaku\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.0.4)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.0-py3-none-any.whl (151 kB)
Building wheels for collected packages: termcolor
  Building wheel for termcolor (setup.py): started
  Building wheel for termcolor (setup.py): finished with status 'done'
  Created wheel for termcolor: filename=termcolor-1.1.0-py3-none-any.whl size=4847 sha256=5dc0eca64598cb2063abf0b6ea9027a996596f7ad53784c1f7a9b369c4c89c0d
  Stored in directory: c:\users\rsaku\appdata\local\pip\cache\wheels\b6\0d\90\0d1bbd99855f99cb2f6c2e5ff96f8023fad8ec367695f7d72d
Successfully built termcolor
Installing collected packages: pyasn1, rsa, pyasn1-modules, oauthlib, cachetools, requests-oauthlib, google-auth, tensorboard-plugin-wit, tensorboard-data-server, protobuf, markdown, grpcio, google-auth-oauthlib, absl-py, tf-estimator-nightly, termcolor, tensorflow-io-gcs-filesystem, tensorboard, opt-einsum, libclang, keras-preprocessing, google-pasta, gast, flatbuffers, astunparse, tensorflow
Successfully installed absl-py-1.0.0 astunparse-1.6.3 cachetools-5.0.0 flatbuffers-2.0 gast-0.5.3 google-auth-2.6.5 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 grpcio-1.44.0 keras-preprocessing-1.1.2 libclang-13.0.0 markdown-3.3.6 oauthlib-3.2.0 opt-einsum-3.3.0 protobuf-3.20.0 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.1 rsa-4.8 tensorboard-2.8.0 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.1 tensorflow-2.8.0 tensorflow-io-gcs-filesystem-0.24.0 termcolor-1.1.0 tf-estimator-nightly-2.8.0.dev2021122109

In [37]:
#load data from data files and place into panda dataframes
custOrders = pd.read_csv('data/customer_orders.csv', low_memory=False)
temp2 = pd.read_csv('data/item_ingredients.csv', low_memory=False)

#temp2.head(10)

In [6]:
#turn off panda max column display limit
print(pd.options.display.max_columns)
pd.options.display.max_colu
mns = None

def dropCol(dataFrame, colName):
    return dataFrame.drop(colName, axis=1)
#temp = temp.drop('gender', axis=1)

None

In [11]:
#convert the boolean values into integers in the ingredients dataframe
#also print column names of dataframe
for col in temp2.columns:
    print(col)
    temp2[col] = temp2[col].astype(int)

item_id
has_ketchup
has_mustard
has_mayonnaise
has_lettuce
has_pickles
has_onions
has_tomatoes
has_cheese
has_beef
has_bun
has_salt
has_potatoes
has_coffee
has_milk
has_sugar
has_soda
has_wheat
has_ice_cream
has_bacon

In [12]:
#print the binary version of the item-ingredient dataframe
temp2.head()
temp2.shape

(21, 20)

In [38]:
#change type to datetime
custOrders["order_timestamp"]=pd.to_datetime(custOrders["order_timestamp"])
custOrders.head()

,customer_id,opt_in,birthday,gender,order_id,weather,order_timestamp,item_id,item_name,item_description,item_image,price,taste_profile,item_type,customization_id,customization
0,170,True,1997-11-14,male,390,snowy,2019-09-01 21:27:18,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,27.0,no onions
1,152,True,1999-11-14,male,1620,cloudy,2017-05-22 14:08:07,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,47.0,no lettuce
2,186,True,1993-11-27,male,782,sunny,2019-01-16 04:50:55,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,47.0,no lettuce
3,150,True,1994-03-07,female,1571,rainy,2019-06-19 00:30:29,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,25.0,no lettuce
4,40,True,2003-07-04,female,240,sunny,2020-07-08 23:50:39,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,9.0,no mustard

In [39]:
custOrders.head()

,customer_id,opt_in,birthday,gender,order_id,weather,order_timestamp,item_id,item_name,item_description,item_image,price,taste_profile,item_type,customization_id,customization
0,170,True,1997-11-14,male,390,snowy,2019-09-01 21:27:18,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,27.0,no onions
1,152,True,1999-11-14,male,1620,cloudy,2017-05-22 14:08:07,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,47.0,no lettuce
2,186,True,1993-11-27,male,782,sunny,2019-01-16 04:50:55,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,47.0,no lettuce
3,150,True,1994-03-07,female,1571,rainy,2019-06-19 00:30:29,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,25.0,no lettuce
4,40,True,2003-07-04,female,240,sunny,2020-07-08 23:50:39,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,9.0,no mustard

In [40]:
#TODO - drop columns that are optional and come in with opt-ins
#opt_in, birthday, gender(anything else?)
#customization, customization_id
#item_image, 

#? unsure ----> item_name, item_description
#Think need more item related features, 

#function converts a cyclical data point(like time) into a 2 point representation on a circle 
def cycleEmbed(maximum, reading):
    maxi=maximum

    sin = np.sin(2*np.pi*reading/maxi)
    cos = np.cos(2*np.pi*reading/maxi)
    return (sin, cos)

In [41]:
#function takes a column name, dataframe, and then converts the column in the dataframe into a integers, 
#where each integer represents a unique value from that column
def enumerateCol(colName, dataFrame):
    count=0
    diction={}

    for i, row in dataFrame.iterrows():
        currentVal=row.loc[colName]
        if currentVal in diction:
            dataFrame.at[i, colName] = diction[currentVal]
        else:
            diction[currentVal]=count
            count+=1
            dataFrame.at[i, colName] = diction[currentVal]

In [42]:
#dropCol(temp, "item_image")
custOrders.head(15)

,customer_id,opt_in,birthday,gender,order_id,weather,order_timestamp,item_id,item_name,item_description,item_image,price,taste_profile,item_type,customization_id,customization
0,170,True,1997-11-14,male,390,snowy,2019-09-01 21:27:18,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,27.0,no onions
1,152,True,1999-11-14,male,1620,cloudy,2017-05-22 14:08:07,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,47.0,no lettuce
2,186,True,1993-11-27,male,782,sunny,2019-01-16 04:50:55,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,47.0,no lettuce
3,150,True,1994-03-07,female,1571,rainy,2019-06-19 00:30:29,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,25.0,no lettuce
4,40,True,2003-07-04,female,240,sunny,2020-07-08 23:50:39,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,9.0,no mustard
5,46,True,1990-11-18,female,1841,cloudy,2019-12-02 14:50:30,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,47.0,no lettuce
6,123,True,2002-02-15,male,1159,snowy,2020-08-20 07:43:06,640405025,Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.79,savory,burger,41.0,no onions
7,38,True,1990-01-21,male,1333,snowy,2018-03-26 00:15:40,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,34.0,no onions
8,22,True,2002-05-10,female,1132,snowy,2016-06-09 22:10:25,640405058,Veggie Burger,Our veggie burger is fresh and delicious.,NaN,2.49,healthy,burger,20.0,no onions
9,92,True,1992-01-24,female,334,snowy,2020-01-06 07:13:25,640405025,Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.79,savory,burger,40.0,no pickles
10,93,True,1994-01-08,female,925,rainy,2019-11-18 09:43:22,640404923,Hamburger,Our top-quality hamburgers are made from hormo...,NaN,3.07,savory,burger,5.0,no pickles
11,110,True,1992-02-06,female,253,sunny,2018-10-23 04:51:23,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,12.0,no pickles
12,127,True,2001-08-01,male,67,cloudy,2019-03-11 04:04:48,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,30.0,no mustard
13,136,True,2001-11-26,male,558,rainy,2016-02-25 04:57:09,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,27.0,no onions
14,129,True,2002-09-16,female,126,snowy,2017-12-27 03:10:52,640405058,Veggie Burger,Our veggie burger is fresh and delicious.,NaN,2.49,healthy,burger,18.0,no lettuce

In [33]:
# Get a Dictionary containing the pairs of column names & data type objects.

print('Data type of each column of Dataframe :')
print(dict(custOrders.dtypes))

Data type of each column of Dataframe :
{'customer_id': dtype('int64'), 'opt_in': dtype('bool'), 'birthday': dtype('O'), 'gender': dtype('O'), 'order_id': dtype('int64'), 'weather': dtype('O'), 'order_timestamp': dtype('<M8[ns]'), 'item_id': dtype('int64'), 'item_name': dtype('O'), 'item_description': dtype('O'), 'item_image': dtype('O'), 'price': dtype('float64'), 'taste_profile': dtype('O'), 'item_type': dtype('O'), 'customization_id': dtype('float64'), 'customization': dtype('O'), 'order_date': dtype('O'), 'order_year': dtype('int64'), 'order_month': dtype('int64'), 'order_day': dtype('int64'), 'order_hour': dtype('int64'), 'order_minute': dtype('int64'), 'order_second': dtype('int64'), 'order_weekday': dtype('int64')}

pandas._libs.tslibs.timestamps.Timestamp

In [43]:
#split timestamp in "order_timestamp" into a number of individual columns for each part of the timestamp

custOrders["order_timestamp"]=pd.to_datetime(custOrders["order_timestamp"])

custOrders["order_date"]=custOrders["order_timestamp"].dt.date
custOrders["order_year"]=custOrders["order_timestamp"].dt.year
custOrders["order_month"]=custOrders["order_timestamp"].dt.month
custOrders["order_day"]=custOrders["order_timestamp"].dt.day
custOrders["order_hour"]=custOrders["order_timestamp"].dt.hour
custOrders["order_minute"]=custOrders["order_timestamp"].dt.minute
custOrders["order_second"]=custOrders["order_timestamp"].dt.second

#create a column for the weekday(mon,tues, weds, ...etc)
#must convert to weekday below
custOrders["order_weekday"]=custOrders["order_day"]

for i, row in custOrders.iterrows():
    custOrders.at[i, "order_weekday"] = datetime.datetime(row["order_year"], row["order_month"],row["order_day"],0,0,0).weekday()

In [44]:
#drop columns which are optional(not all customers will use it), clearly not useful, or redundant

custOrders = custOrders.drop("item_image", axis=1, errors='ignore')
custOrders = custOrders.drop("order_timestamp", axis=1, errors='ignore') #information moved into other columns added above
custOrders = custOrders.drop("customization_id", axis=1, errors='ignore') #customization is no in every order
custOrders = custOrders.drop("customization", axis=1, errors='ignore')
custOrders = custOrders.drop("opt_in", axis=1, errors='ignore')
custOrders = custOrders.drop("item_description", axis=1, errors='ignore')

custOrders = custOrders.drop("birthday", axis=1, errors='ignore') #check if part of opt in
custOrders = custOrders.drop("gender", axis=1, errors='ignore') #check if part of opt in
#custOrders = custOrders.drop("item_name", axis=1) #reduntance since we have item id? we need 

custOrders = custOrders.drop("order_date", axis=1, errors='ignore') #check if part of opt in


custOrders.head(10)

,customer_id,order_id,weather,item_id,item_name,price,taste_profile,item_type,order_year,order_month,order_day,order_hour,order_minute,order_second,order_weekday
0,170,390,snowy,640405085,Double Hamburger,2.99,savory,burger,2019,9,1,21,27,18,6
1,152,1620,cloudy,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2017,5,22,14,8,7,0
2,186,782,sunny,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2019,1,16,4,50,55,2
3,150,1571,rainy,640405085,Double Hamburger,2.99,savory,burger,2019,6,19,0,30,29,2
4,40,240,sunny,640404963,Cheeseburger,2.29,savory,burger,2020,7,8,23,50,39,2
5,46,1841,cloudy,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2019,12,2,14,50,30,0
6,123,1159,snowy,640405025,Bacon Cheeseburger,2.79,savory,burger,2020,8,20,7,43,6,3
7,38,1333,snowy,640405112,Double Cheeseburger,3.29,savory,burger,2018,3,26,0,15,40,0
8,22,1132,snowy,640405058,Veggie Burger,2.49,healthy,burger,2016,6,9,22,10,25,3
9,92,334,snowy,640405025,Bacon Cheeseburger,2.79,savory,burger,2020,1,6,7,13,25,0

In [45]:
#custOrders will represet the data before it has been enumerated and is only numbers
custOrders2=custOrders.copy()
custOrders2.head()

,customer_id,order_id,weather,item_id,item_name,price,taste_profile,item_type,order_year,order_month,order_day,order_hour,order_minute,order_second,order_weekday
0,170,390,snowy,640405085,Double Hamburger,2.99,savory,burger,2019,9,1,21,27,18,6
1,152,1620,cloudy,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2017,5,22,14,8,7,0
2,186,782,sunny,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2019,1,16,4,50,55,2
3,150,1571,rainy,640405085,Double Hamburger,2.99,savory,burger,2019,6,19,0,30,29,2
4,40,240,sunny,640404963,Cheeseburger,2.29,savory,burger,2020,7,8,23,50,39,2

In [47]:
#embed time values to cycles on a circle
def timeEmbed(df, colName, maxi):
    name1=colName+"1"
    name2=colName+"2"
    print(name1)
    print(name2)
    df[name1]=None
    df[name2]=None
    for i, row in df.iterrows():
        temp=cycleEmbed(maxi, row[colName])
        df.at[i, name1]=temp[0]
        df.at[i, name2]=temp[1]

#convert every time based column into a point on a circle with timeEmbed()    
timeEmbed(custOrders2, "order_month", 12)
timeEmbed(custOrders2, "order_day", 31)
timeEmbed(custOrders2, "order_hour", 24)
timeEmbed(custOrders2, "order_minute", 60)
timeEmbed(custOrders2, "order_second", 60)
timeEmbed(custOrders2, "order_weekday", 7)

order_month1
order_month2
order_day1
order_day2
order_hour1
order_hour2
order_minute1
order_minute2
order_second1
order_second2
order_weekday1
order_weekday2

In [48]:
#print all number version of the data

custOrders2.head(10)

,customer_id,order_id,weather,item_id,item_name,price,taste_profile,item_type,order_year,order_month,order_day,order_hour,order_minute,order_second,order_weekday,order_month1,order_month2,order_day1,order_day2,order_hour1,order_hour2,order_minute1,order_minute2,order_second1,order_second2,order_weekday1,order_weekday2
0,170,390,0,640405085,0,2.99,0,0,2019,9,1,21,27,18,6,-1.0,-0.0,0.201299,0.97953,-0.707107,0.707107,0.309017,-0.951057,0.951057,-0.309017,-0.781831,0.62349
1,152,1620,1,640405172,1,3.79,0,0,2017,5,22,14,8,7,0,0.5,-0.866025,-0.968077,-0.250653,-0.5,-0.866025,0.743145,0.669131,0.669131,0.743145,0.0,1.0
2,186,782,2,640405172,1,3.79,0,0,2019,1,16,4,50,55,2,0.5,0.866025,-0.101168,-0.994869,0.866025,0.5,-0.866025,0.5,-0.5,0.866025,0.974928,-0.222521
3,150,1571,3,640405085,0,2.99,0,0,2019,6,19,0,30,29,2,0.0,-1.0,-0.651372,-0.758758,0.0,1.0,0.0,-1.0,0.104528,-0.994522,0.974928,-0.222521
4,40,240,2,640404963,2,2.29,0,0,2020,7,8,23,50,39,2,-0.5,-0.866025,0.998717,-0.050649,-0.258819,0.965926,-0.866025,0.5,-0.809017,-0.587785,0.974928,-0.222521
5,46,1841,1,640405172,1,3.79,0,0,2019,12,2,14,50,30,0,-0.0,1.0,0.394356,0.918958,-0.5,-0.866025,-0.866025,0.5,0.0,-1.0,0.0,1.0
6,123,1159,0,640405025,3,2.79,0,0,2020,8,20,7,43,6,3,-0.866025,-0.5,-0.790776,-0.612106,0.965926,-0.258819,-0.978148,-0.207912,0.587785,0.809017,0.433884,-0.900969
7,38,1333,0,640405112,4,3.29,0,0,2018,3,26,0,15,40,0,1.0,0.0,-0.848644,0.528964,0.0,1.0,1.0,0.0,-0.866025,-0.5,0.0,1.0
8,22,1132,0,640405058,5,2.49,1,0,2016,6,9,22,10,25,3,0.0,-1.0,0.968077,-0.250653,-0.5,0.866025,0.866025,0.5,0.5,-0.866025,0.433884,-0.900969
9,92,334,0,640405025,3,2.79,0,0,2020,1,6,7,13,25,0,0.5,0.866025,0.937752,0.347305,0.965926,-0.258819,0.978148,0.207912,0.5,-0.866025,0.0,1.0

In [49]:
#begin splitting custOrders2 into training/validation sets, including moving supervision target(itemID) out

masterDS=custOrders2.copy()
masterDS = masterDS.drop("order_month", axis=1, errors='ignore')
masterDS = masterDS.drop("order_day", axis=1, errors='ignore')
masterDS = masterDS.drop("order_hour", axis=1, errors='ignore')
masterDS = masterDS.drop("order_year", axis=1, errors='ignore')
masterDS = masterDS.drop("order_minute", axis=1, errors='ignore')
masterDS = masterDS.drop("order_second", axis=1, errors='ignore')
masterDS = masterDS.drop("order_weekday", axis=1, errors='ignore')

masterDS = masterDS.drop("item_id", axis=1, errors='ignore')

masterDS = masterDS.drop("item_image", axis=1, errors='ignore')
masterDS = masterDS.drop("birthday", axis=1, errors='ignore')




# DO I NEED TO DO the FLOAT 64 CAST? 
#cast all columns to float64
for col in masterDS.columns:
    masterDS[col] = masterDS[col].astype(np.float64)

In [52]:
#Enumerate columns that are categorical
enumerateCol("weather", custOrders2)
enumerateCol("item_name", custOrders2)
enumerateCol("taste_profile", custOrders2)
enumerateCol("item_type", custOrders2)

In [53]:
masterDS.head(10)
#? need to normalize?

,customer_id,order_id,weather,item_name,price,taste_profile,item_type,order_month1,order_month2,order_day1,order_day2,order_hour1,order_hour2,order_minute1,order_minute2,order_second1,order_second2,order_weekday1,order_weekday2
0,170.0,390.0,0.0,0.0,2.99,0.0,0.0,-1.000000e+00,-1.836970e-16,0.201299,0.979530,-0.707107,0.707107,3.090170e-01,-9.510565e-01,9.510565e-01,-0.309017,-0.781831,0.623490
1,152.0,1620.0,1.0,1.0,3.79,0.0,0.0,5.000000e-01,-8.660254e-01,-0.968077,-0.250653,-0.500000,-0.866025,7.431448e-01,6.691306e-01,6.691306e-01,0.743145,0.000000,1.000000
2,186.0,782.0,2.0,1.0,3.79,0.0,0.0,5.000000e-01,8.660254e-01,-0.101168,-0.994869,0.866025,0.500000,-8.660254e-01,5.000000e-01,-5.000000e-01,0.866025,0.974928,-0.222521
3,150.0,1571.0,3.0,0.0,2.99,0.0,0.0,1.224647e-16,-1.000000e+00,-0.651372,-0.758758,0.000000,1.000000,5.665539e-16,-1.000000e+00,1.045285e-01,-0.994522,0.974928,-0.222521
4,40.0,240.0,2.0,2.0,2.29,0.0,0.0,-5.000000e-01,-8.660254e-01,0.998717,-0.050649,-0.258819,0.965926,-8.660254e-01,5.000000e-01,-8.090170e-01,-0.587785,0.974928,-0.222521
5,46.0,1841.0,1.0,1.0,3.79,0.0,0.0,-2.449294e-16,1.000000e+00,0.394356,0.918958,-0.500000,-0.866025,-8.660254e-01,5.000000e-01,5.665539e-16,-1.000000,0.000000,1.000000
6,123.0,1159.0,0.0,3.0,2.79,0.0,0.0,-8.660254e-01,-5.000000e-01,-0.790776,-0.612106,0.965926,-0.258819,-9.781476e-01,-2.079117e-01,5.877853e-01,0.809017,0.433884,-0.900969
7,38.0,1333.0,0.0,4.0,3.29,0.0,0.0,1.000000e+00,6.123234e-17,-0.848644,0.528964,0.000000,1.000000,1.000000e+00,2.832769e-16,-8.660254e-01,-0.500000,0.000000,1.000000
8,22.0,1132.0,0.0,5.0,2.49,1.0,0.0,1.224647e-16,-1.000000e+00,0.968077,-0.250653,-0.500000,0.866025,8.660254e-01,5.000000e-01,5.000000e-01,-0.866025,0.433884,-0.900969
9,92.0,334.0,0.0,3.0,2.79,0.0,0.0,5.000000e-01,8.660254e-01,0.937752,0.347305,0.965926,-0.258819,9.781476e-01,2.079117e-01,5.000000e-01,-0.866025,0.000000,1.000000

In [54]:
target_column = ['item_name'] 
predictors = list(set(list(masterDS.columns))-set(target_column))
print(predictors)

#next line regularizes the all columns outside of target_column
# I definitly dont want it for the time data points, but do other columns need it?????

masterDS[predictors] = masterDS[predictors]/masterDS[predictors].max()

['order_id', 'customer_id', 'order_hour1', 'order_hour2', 'taste_profile', 'order_minute1', 'order_second2', 'price', 'order_month2', 'order_minute2', 'order_day2', 'order_weekday2', 'item_type', 'order_weekday1', 'order_month1', 'order_day1', 'weather', 'order_second1']

In [55]:
X = masterDS[predictors].values
y = masterDS[target_column].values

In [57]:
#split into training and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(1491, 18)
(640, 18)

In [58]:
# Define model
model = Sequential()
model.add(Dense(500, input_dim=X_train.shape[1], activation= "relu"))
model.add(Dense(100, activation= "relu"))
model.add(Dense(50, activation= "relu"))
model.add(Dense(1))
#model.summary() #Print model Summary

In [59]:
#tf.keras.backend.set_floatx('float64')

model.compile(loss= "mean_squared_error" , optimizer="adam", metrics=["mean_squared_error"])

model.fit(X_train, y_train, epochs=20)

Epoch 1/20
47/47 [==============================] - 1s 3ms/step - loss: 52.8822 - mean_squared_error: 52.8822
Epoch 2/20
47/47 [==============================] - 0s 4ms/step - loss: 17.3643 - mean_squared_error: 17.3643
Epoch 3/20
47/47 [==============================] - 0s 5ms/step - loss: 10.4367 - mean_squared_error: 10.4367
Epoch 4/20
47/47 [==============================] - 0s 5ms/step - loss: 9.6710 - mean_squared_error: 9.6710
Epoch 5/20
47/47 [==============================] - 0s 5ms/step - loss: 9.4634 - mean_squared_error: 9.4634
Epoch 6/20
47/47 [==============================] - 0s 5ms/step - loss: 9.1788 - mean_squared_error: 9.1788
Epoch 7/20
47/47 [==============================] - 0s 5ms/step - loss: 8.8475 - mean_squared_error: 8.8475
Epoch 8/20
47/47 [==============================] - 0s 5ms/step - loss: 8.7879 - mean_squared_error: 8.7879
Epoch 9/20
47/47 [==============================] - 0s 5ms/step - loss: 8.4406 - mean_squared_error: 8.4406
Epoch 10/20
47/47 [==============================] - 0s 5ms/step - loss: 8.4920 - mean_squared_error: 8.4920
Epoch 11/20
47/47 [==============================] - 0s 5ms/step - loss: 7.9891 - mean_squared_error: 7.9891
Epoch 12/20
47/47 [==============================] - 0s 4ms/step - loss: 7.9311 - mean_squared_error: 7.9311
Epoch 13/20
47/47 [==============================] - 0s 5ms/step - loss: 7.3561 - mean_squared_error: 7.3561
Epoch 14/20
47/47 [==============================] - 0s 4ms/step - loss: 7.2663 - mean_squared_error: 7.2663
Epoch 15/20
47/47 [==============================] - 0s 5ms/step - loss: 7.0149 - mean_squared_error: 7.0149
Epoch 16/20
47/47 [==============================] - 0s 4ms/step - loss: 6.5942 - mean_squared_error: 6.5942
Epoch 17/20
47/47 [==============================] - 0s 5ms/step - loss: 6.5818 - mean_squared_error: 6.5818
Epoch 18/20
47/47 [==============================] - 0s 5ms/step - loss: 6.1637 - mean_squared_error: 6.1637
Epoch 19/20
47/47 [==============================] - 0s 5ms/step - loss: 6.0199 - mean_squared_error: 6.0199
Epoch 20/20
47/47 [==============================] - 0s 5ms/step - loss: 5.5023 - mean_squared_error: 5.5023

In [60]:
# Get a Dictionary containing the pairs of column names & data type objects.
dataTypeDict = dict(masterDS.dtypes)
print('Data type of each column of Dataframe :')
print(dataTypeDict)

Data type of each column of Dataframe :
{'customer_id': dtype('float64'), 'order_id': dtype('float64'), 'weather': dtype('float64'), 'item_name': dtype('float64'), 'price': dtype('float64'), 'taste_profile': dtype('float64'), 'item_type': dtype('float64'), 'order_month1': dtype('float64'), 'order_month2': dtype('float64'), 'order_day1': dtype('float64'), 'order_day2': dtype('float64'), 'order_hour1': dtype('float64'), 'order_hour2': dtype('float64'), 'order_minute1': dtype('float64'), 'order_minute2': dtype('float64'), 'order_second1': dtype('float64'), 'order_second2': dtype('float64'), 'order_weekday1': dtype('float64'), 'order_weekday2': dtype('float64')}

In [61]:
pred_train= model.predict(X_train)
print(np.sqrt(mean_squared_error(y_train,pred_train)))

print(pred_train)

2.2215441508316056
[[ 1.1450471]
 [17.39193  ]
 [14.3905325]
 ...
 [12.054367 ]
 [ 1.9922451]
 [16.354595 ]]